[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
djangorestframework = "*"
django-filter = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
dj-rest-auth = "*"
pillow = "*"
django-allauth = "*"
requests = "*"
cryptography = "*"
django-autoslug = "*"
setuptools = "*"
django-environ = "*"
whitenoise = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.12"
